<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->

		<target name ="LoggingFile"
							xsi:type="File"
							fileName  ="C:\logs\"
							layout ="
							----------------------------------${level} (${longdate})---------------------------------${newline}
							${newline}
							Call Function: ${callsite}${newline}
							Exception Type: ${gdc:ExceptionType}${newline}
							Exception Message: ${message}${newline}
							Stack Trace: ${gdc:StackTrace}${newline}
							InnerException Message: ${exception:format=InnerException.Message}${newline}
							InnerException Stack Trace: ${exception:format=InnerException.StackTrace}${newline}
							ClientIp: ${gdc:ClientIp}${newline}
							UserName :${gdc:UserName}${newline}"/>
	</nlog>		